/*============ GLOBAL ==============*/
body{
	/*font-family: 'Josefin Slab', serif !important;*/
}
p , ul > li{
	font-size: 1.25rem !important; 
    font-weight: 300 !important;
}
.heading{
	font-family: 'Josefin Slab', serif;
	font-weight: 700;
	font-size: 2.5em;
	background-color: rgba(0, 0, 66, 0.84) !important;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;

}
.sub-heading{
	font-family: 'Josefin Slab', serif;
	font-weight: 700;
	font-size: 2.5em;
}
.brown-color {
	color: #c2b779;
}
.bg-blue{
	background-color: rgba(0, 0, 66, 0.84) !important;
	color: #fff;
}
.border-left-style{
	border-left: 3px solid #968318;
	padding-left: 15px;
}
/*============ GLOBAL ==============*/

/*============ NAVIGATION ==============*/

.navbar-brand >img{
	height: 80px;
}

.navbar{

	/*background-color: #000042  !important;*/
	background-color: rgba(0, 0, 66, 0.84) !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	border-bottom: 5px solid #968318;
}

.nav-link{
	color: #fff!important;
    font-weight: 500;
    font-size: 0.85em;
    /*border-bottom: 1px solid #968318;*/
    /*font-family: myriad-pro,sans-serif;*/
}

/*.nav-item:nth-child(1) >  .nav-link , .nav-item:nth-child(2) >  .nav-link , .nav-item:nth-child(3) >  .nav-link{
    border-bottom-left-radius: 25px;

}
.nav-item:nth-child(4) >  .nav-link , .nav-item:nth-child(5) >  .nav-link , .nav-item:nth-child(6) >  .nav-link{
    border-bottom-right-radius: 25px;

}*/
/*============ NAVIGATION ==============*/

/*============ Home ==============*/

.banner{
	/*margin-top: -6px;*/
	width: 100%;
	/*height:100vh;*/
}

.banner-text{
	position: absolute;
	left:0%;
	top: 60vh;
	font-size: 2.5em;
	font-weight: 500;
	background: rgba(0, 0, 66, 0.84);
	padding: 35px;
	color: #fff;
	font-family: 'Josefin Slab', serif;

}

.divider{
	/*box-shadow: inset 0px 8px 20px 0px rgba(0, 1, 65, 0.25098039215686274);*/
}
.compressed-images{
	/*width: 100%;
	height:;*/
}

.card-style{
	 box-shadow:  5px 5px 15px 0px #eee; 
}

/*.jumbo-parent{
	background-color: #968318;
	padding:20px ;
}*/
.jumbo-style{
	background-color: #fff !important;
	box-shadow:  5px 10px 20px 0px #ddd;
	border: 1px solid #968318;
	border-radius: 2em;
}
.brown-hr{
	border-color: #968318;
}
.home-list-style > li , .care-list-style > li{
	margin-bottom: 1.25rem;
	list-style: none;
	border-left: 1px solid #968318;
	padding-left: 15px;

}
/*============ Home ==============*/
/*============ CARE ==============*/

.heading-div{
	margin-top: 0px;
}

.expertise-cols>*{
	width: 100% !important;
	text-align: center;
	margin-top: 12px;
}
.jobTitle{
	font-weight: 500 !important;
	color: #968318;
}

.care-list-style{
	padding-left: 	0px;
}
.full-width-text{
	position: absolute;
	background: rgba(0, 0, 66, 0.84);
		margin-top: 300px;
		color: #fff;
		width: 50%;

}
.care-container {
/*
	padding:50px;
	margin-bottom: 20px;
	border-radius: 250px;
	overflow: hidden;
	color: #fff;

*/	
	margin-top: 20px;

}

.care-container:nth-child(4),.care-container:nth-child(8){
	/*float: right;
	border:10px solid #968318;
	border-bottom-right-radius:  0px;
	border-top-right-radius:  0px;
	padding-left: 0px;
	background: rgba(0, 0, 66, 0.84);*/
border-left: 10px solid #968318; 


	
}
.care-container:nth-child(6),.care-container:nth-child(10){
	/*float: left;
	border:10px solid #000042;
	border-bottom-left-radius:  0px;
	border-top-left-radius:  0px;
	padding-right: 0px;
	background: rgba(0, 0, 66, 0.84);*/
border-right: 10px solid rgba(0, 0, 66, 0.84);
	
}
/*============ CARE ==============*/
/*============ concierge ==============*/


.concierge-heading-small{
	font-size: 2rem !important;
}



/*============ concierge ==============*/

/*// For Screen size more than the NAVBAR breakpoint(More than 991.98px)*/
@media (min-width: 991.98px) { 

/*	.header-top{
		z-index: 20 !important;
	}

  .navbar{
		z-index: 10 !important;
  	
  }*/
.nav-item{
  padding: 10px 25px 10px 25px;
  text-align: center;
  vertical-align: middle;
}

.logoOnLeft{
  display: none !important;
}
.logoOnCenter{
  display: inline-block;
 }
}

/*// Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { ... }

/*// Extra large devices (large desktops)*/
/*// No media query since the extra-large breakpoint has no upper bound on its width*/

@media screen and (max-width: 767px) {
}
